@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0f172a;
    --foreground: #7b74a6;
}

body {
    color: var(--foreground);
    background: var(--background);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* Container styles */
.animation-container {
    position: absolute;
    /* background-color: #0f172a; */
    top: 0;
    left: 30px;
    padding-left: 28px;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

/* SVG styles */
.cv-path {
    width: 100%;
}

/* Dotted path animation */
.animated-dotted-path {
    stroke-dasharray: 4 5; /* Creates the dotted effect */
    stroke-dashoffset: 0; /* Starting point of the dash offset */
    animation: infinite-draw 10s linear infinite;
    animation-delay: 10s; /* Start the animation 10 seconds after page load */
}

/* Infinite path animation */
@keyframes infinite-draw {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -200; /* Negative offset to create continuous movement */
    }
}

/* Button styles */

.download-button {
    padding: 0.7rem 1.5rem;
    border: 1px dashed rgba(111, 73, 216, 0.4); /*Border for animation */
    font-size: 0.875rem;
    border-radius: 9999px;
    background-color: transparent;
    color: #867dc7;
    cursor: pointer;
    position: relative;
    font-weight: 200;
    z-index: 1;
}
.download-button::before {
    filter: blur(0.5rem);
    opacity: 0.5;
}
.download-button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rebeccapurple; */
    background-image: conic-gradient(transparent, blur);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 6px;
    border-radius: 9999px;
}
/* Button border animation */
@keyframes button-border-animation {
    0% {
        border-color: #2e3e57;
    }
    50% {
        border-color: #292450;
    }
    100% {
        border-color: #3a4457;
    }
}
.path-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.path {
    stroke-dasharray: 12 890; /* 10px visible, rest hidden */
    stroke-dashoffset: 900; /* Start fully hidden at the top */
    animation: dash 8s linear infinite; /* Duration for one top-to-bottom animation */
}

@keyframes dash {
    0% {
        stroke-dashoffset: 900; /* Fully hidden at the top */
    }
    100% {
        stroke-dashoffset: 0; /* Fully visible at the bottom */
    }
}
